body {background-color: rgb(246, 246, 250);}
div.rumus{display: none;}
div.header {
    height: 5rem;
    background-color: #2880B9;
    color: white;
    position: relative;
}
div.header div.title{
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

div.header div.title h1{
    text-align: center;
}
div.gambarrumus {
    margin-top: 3rem;
    width: 100%;
    position: relative;
}
div.gambarrumus div{
    text-align: center;

}
div.gambarrumus div img{
    height: auto;
    width: 100%;
    max-width: 25rem;
    min-width: 10rem;
}